build
.gradle
.idea
*.iml
local.properties
android/mobile/release/*
ios.xcworkspace/

.DS_Store
.externalNativeBuild

github.properties

iosApp/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
iosApp/iosApp.xcodeproj/xcuserdata
